# test
spec
karma.conf.js
test-context.js

# build
rollup.config.js
babel.config.js
tsconfig.json
tsconfig.spec.json

# github
.github

# gitpod
.gitpod.yml

# typescript
tsconfig.json

# editor
.idea